ySS_calibration/sitesTestExtDir/otdm/nrf_0.1.json
[{"id":"e2542b02314dbef3","type":"tab","label":"yss-otdm","disabled":false,"info":"","env":[]},{"id":"de6eff4773faef24","type":"mqtt in","z":"e2542b02314dbef3","name":"","topic":"subP/#","qos":"2","datatype":"auto","broker":"710a7f953b1c3089","nl":false,"rap":true,"rh":0,"inputs":0,"x":330,"y":340,"wires":[["1983b805b1a8875a"]]},{"id":"2908022fef330e03","type":"mqtt out","z":"e2542b02314dbef3","name":"","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"710a7f953b1c3089","x":910,"y":340,"wires":[]},{"id":"1983b805b1a8875a","type":"function","z":"e2542b02314dbef3","name":"otdmCmd's","func":"if( String(msg.payload).substring(0,8) == 'otdmCmd:' ){\n    var t = msg.payload.substring(8).split(':');\n    var pH = t[0];\n    t.shift(0);\n    var cmd = t.join(\":\");\n    node.status({text:\"got CMB:\"+cmd+\" to:\"+pH});\n    \n    return [null, {\n        topic: \"subP/\"+pH+\"/in\",\n        payload: cmd+\"\\n\"\n    }];\n}else\n    return [ msg,null ];","outputs":3,"noerr":0,"initialize":"","finalize":"","libs":[],"x":590,"y":280,"wires":[["51ec28a5530ab6e1"],["2908022fef330e03"],[]]},{"id":"eb0736e978d078b2","type":"link in","z":"e2542b02314dbef3","name":"","links":["54f8bc05e74e2e23"],"x":355,"y":220,"wires":[["1983b805b1a8875a"]]},{"id":"51ec28a5530ab6e1","type":"link out","z":"e2542b02314dbef3","name":"","mode":"link","links":["cb632b9922b2a62e"],"x":875,"y":220,"wires":[]},{"id":"710a7f953b1c3089","type":"mqtt-broker","name":"mqtt at hu","broker":"192.168.43.1","port":"10883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""}]