ySS_calibration/sites/music_sync/nrf_0.1.json
[{"id":"40888630e65042e0","type":"tab","label":"yss-musicSync","disabled":false,"info":"","env":[]},{"id":"f252c2e9d2f8d1fc","type":"function","z":"40888630e65042e0","name":"music sync","func":"if( typeof msg.payload == 'string' &&\n    msg.payload.substring(0,10) == 'musicSync:' ){\n    var j = msg.payload.substring(10).split(\",\");\n    \n    for( var c=0,cc=j.length; c<cc; c++ ){\n        \n        if( j[c] == 'play=1' ){\n            node.send({\n                topic:\"musicSync/all\",\n                payload: 'play'\n            });\n        }else if( j[c].substring(0,5) == 'seek=' ){\n            node.send({\n                topic:\"musicSync/allSeek\",\n                payload: j[c].substring(5)\n            });\n        }else{\n            node.send({\n                topic:\"musicSync/cmd\",\n                payload: j[c].split(\"=\")\n            });\n        }\n    }\n    \n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":550,"y":240,"wires":[["22bc86b13a532295"]]},{"id":"58b15c2852865859","type":"link in","z":"40888630e65042e0","name":"","links":["54f8bc05e74e2e23"],"x":320,"y":240,"wires":[["f252c2e9d2f8d1fc"]]},{"id":"22bc86b13a532295","type":"link out","z":"40888630e65042e0","name":"","mode":"link","links":["cb632b9922b2a62e"],"x":715,"y":240,"wires":[]}]