otdmp-open-muscle-src/data/data/com.termux/files/home/.otdm/p-open-muscle-src/openMuscleFlowForUdpCollecting.json
{"id": "d04a960f275930b7", "label": "UDP-open-muscle", "disabled": false, "info": "", "env": [], "nodes": [{"id": "3aa46e840d309b99", "type": "udp in", "z": "d04a960f275930b7", "name": "listean at:3145", "iface": "", "port": "3145", "ipv": "udp4", "multicast": "false", "group": "", "datatype": "utf8", "x": 330, "y": 220, "wires": [["8a7ae78d64811a04"]]}, {"id": "215e050f1476894c", "type": "udp out", "z": "d04a960f275930b7", "name": "", "addr": "", "iface": "", "port": "", "ipv": "udp4", "outport": "", "base64": false, "multicast": "false", "x": 480, "y": 380, "wires": []}, {"id": "dd93469de4b0a27c", "type": "debug", "z": "d04a960f275930b7", "name": "", "active": false, "tosidebar": true, "console": false, "tostatus": false, "complete": "true", "targetType": "full", "statusVal": "", "statusType": "auto", "x": 790, "y": 160, "wires": []}, {"id": "8a7ae78d64811a04", "type": "function", "z": "d04a960f275930b7", "name": "", "func": "let pj = JSON.parse(\n    msg.payload.split(\"'\").join('\"')\n    .split('), \"data')\n    );\nmsg['pj'] = pj;\n\n\nfor( let c=0,cc=pj.data.length; c<cc; c++ ){\n    node.send({\n        topic:\"and/oc/ch\"+c,\n        payload: pj.data[c]\n    });\n}\n", "outputs": 1, "noerr": 0, "initialize": "", "finalize": "", "libs": [], "x": 500, "y": 280, "wires": [["dd93469de4b0a27c", "0a414ce764089fb5"]]}, {"id": "0a414ce764089fb5", "type": "link out", "z": "d04a960f275930b7", "name": "", "mode": "link", "links": ["cb632b9922b2a62e"], "x": 715, "y": 380}]}