otdmp-open-muscle-src/data/data/com.termux/files/home/.otdm/p-open-muscle-src/openMuscleFlowForUdpCollecting.json
{"id": "d04a960f275930b7", "label": "UDP-open-muscle", "disabled": false, "info": "", "env": [], "nodes": [{"id": "3aa46e840d309b99", "type": "udp in", "z": "d04a960f275930b7", "name": "listean at:3145", "iface": "", "port": "3145", "ipv": "udp4", "multicast": "false", "group": "", "datatype": "utf8", "x": 330, "y": 220, "wires": [["8a7ae78d64811a04"]]}, {"id": "215e050f1476894c", "type": "udp out", "z": "d04a960f275930b7", "name": "", "addr": "", "iface": "", "port": "", "ipv": "udp4", "outport": "", "base64": false, "multicast": "false", "x": 480, "y": 380, "wires": []}, {"id": "dd93469de4b0a27c", "type": "debug", "z": "d04a960f275930b7", "name": "", "active": false, "tosidebar": true, "console": false, "tostatus": false, "complete": "true", "targetType": "full", "statusVal": "", "statusType": "auto", "x": 790, "y": 160, "wires": []}, {"id": "8a7ae78d64811a04", "type": "function", "z": "d04a960f275930b7", "name": "", "func": "let pj = JSON.parse(\n    msg.payload.split(\"'\").join('\"')\n    .split('), \"data')\n    );\nmsg['pj'] = pj;\n\nlet fie = {\n    measurement:\"OM1_chs\",\n    timestamp: new Date(),\n    fields: {\n        'idSrc': pj['id'],\n        'time': JSON.stringify(pj['time']),\n        'ticks': pj['ticks'],\n        'rec_time': pj['rec_time']\n    }\n};\nfor( let c=0,cc=pj.data.length; c<cc; c++ ){\n    fie['fields']['ch'+c] =  pj.data[c];\n    node.send([\n        {\n            topic:\"and/oc/ch\"+c,\n            payload: pj.data[c]\n        },null\n    ]);\n}\n\nnode.send([null,{\n    payload: [fie]\n}]);", "outputs": 2, "noerr": 0, "initialize": "", "finalize": "", "libs": [], "x": 500, "y": 280, "wires": [["dd93469de4b0a27c", "0a414ce764089fb5"], ["1b40796a0cb86cd6", "57462e13422856d3"]]}, {"id": "0a414ce764089fb5", "type": "link out", "z": "d04a960f275930b7", "name": "", "mode": "link", "links": ["cb632b9922b2a62e"], "x": 715, "y": 380}, {"id": "2f439ceef4b913c7", "type": "inject", "z": "d04a960f275930b7", "name": "iter time", "props": [{"p": "payload"}, {"p": "measurement", "v": "mes20", "vt": "str"}], "repeat": "1", "crontab": "", "once": false, "onceDelay": 0.1, "topic": "", "payloadType": "date", "x": 840, "y": 300, "wires": [[]]}, {"id": "5416e14052f0fea3", "type": "link out", "z": "d04a960f275930b7", "name": "", "mode": "link", "links": ["f9af6674e328442a"], "x": 775, "y": 540}, {"id": "1b40796a0cb86cd6", "type": "debug", "z": "d04a960f275930b7", "name": "", "active": false, "tosidebar": true, "console": false, "tostatus": false, "complete": "true", "targetType": "full", "statusVal": "", "statusType": "auto", "x": 790, "y": 600, "wires": []}, {"id": "57462e13422856d3", "type": "influxdb batch", "z": "d04a960f275930b7", "influxdb": "9c68d2f0e13763a4", "precision": "", "retentionPolicy": "", "name": "", "database": "db1", "precisionV18FluxV20": "ms", "retentionPolicyV18Flux": "", "org": "organisation", "bucket": "bucket", "x": 810, "y": 460, "wires": []}]}