otdmp-nrf-sin-generator/data/data/com.termux/files/home/.otdm/p-nrf-sin-generator/4blenderAKAsinGen
{"id": "b96bfdd96eb132c6", "label": "4 blender", "disabled": false, "info": "", "env": [], "nodes": [{"id": "c1f06ccc88eceaf4", "type": "mqtt out", "z": "b96bfdd96eb132c6", "name": "", "topic": "", "qos": "", "retain": "", "respTopic": "", "contentType": "", "userProps": "", "correl": "", "expiry": "", "broker": "710a7f953b1c3089", "x": 590, "y": 260, "wires": []}, {"id": "eabef8459b76ecf6", "type": "inject", "z": "b96bfdd96eb132c6", "name": "", "props": [{"p": "payload"}, {"p": "topic", "vt": "str"}], "repeat": "", "crontab": "", "once": false, "onceDelay": 0.1, "topic": "blen/zRot", "payload": "10", "payloadType": "str", "x": 140, "y": 100, "wires": [["c1f06ccc88eceaf4"]]}, {"id": "6f7f28a6a4cc8c8c", "type": "inject", "z": "b96bfdd96eb132c6", "name": "", "props": [{"p": "payload"}, {"p": "topic", "vt": "str"}], "repeat": "", "crontab": "", "once": false, "onceDelay": 0.1, "topic": "blen/zRot", "payload": "-10", "payloadType": "str", "x": 150, "y": 200, "wires": [["c1f06ccc88eceaf4"]]}, {"id": "e64228490b9b1cf1", "type": "mqtt in", "z": "b96bfdd96eb132c6", "name": "", "topic": "blen/zRot", "qos": "2", "datatype": "auto", "broker": "710a7f953b1c3089", "nl": false, "rap": true, "rh": 0, "inputs": 0, "x": 760, "y": 280, "wires": [["76c2a2f8fcfe6022"]]}, {"id": "76c2a2f8fcfe6022", "type": "debug", "z": "b96bfdd96eb132c6", "name": "", "active": false, "tosidebar": true, "console": false, "tostatus": false, "complete": "true", "targetType": "full", "statusVal": "", "statusType": "auto", "x": 800, "y": 360, "wires": []}, {"id": "e87d8c404509bccc", "type": "ui_slider", "z": "b96bfdd96eb132c6", "name": "pub: to and/xRot", "label": "and/xRot", "tooltip": "", "group": "6414d7f591b41d2a", "order": 0, "width": 0, "height": 0, "passthru": true, "outs": "all", "topic": "and/xRot", "topicType": "str", "min": 0, "max": "360", "step": "1", "className": "", "x": 180, "y": 340, "wires": [["c1f06ccc88eceaf4"]]}, {"id": "048f821159608216", "type": "ui_slider", "z": "b96bfdd96eb132c6", "name": "pub: to and/yRot", "label": "and/yRot", "tooltip": "", "group": "6414d7f591b41d2a", "order": 0, "width": 0, "height": 0, "passthru": true, "outs": "all", "topic": "and/yRot", "topicType": "str", "min": 0, "max": "360", "step": "1", "className": "", "x": 180, "y": 440, "wires": [["c1f06ccc88eceaf4"]]}, {"id": "47e4962a73ea17ba", "type": "ui_slider", "z": "b96bfdd96eb132c6", "name": "pub: to and/zRot", "label": "and/zRot", "tooltip": "", "group": "6414d7f591b41d2a", "order": 0, "width": 0, "height": 0, "passthru": true, "outs": "all", "topic": "and/zRot", "topicType": "str", "min": 0, "max": "360", "step": "1", "className": "", "x": 180, "y": 520, "wires": [["c1f06ccc88eceaf4"]]}, {"id": "7202aa2cff3764db", "type": "ui_slider", "z": "b96bfdd96eb132c6", "name": "pub: to and/fHDG", "label": "and/fHDG", "tooltip": "", "group": "6414d7f591b41d2a", "order": 0, "width": 0, "height": 0, "passthru": true, "outs": "all", "topic": "and/fHDG", "topicType": "str", "min": 0, "max": "360", "step": "1", "className": "", "x": 470, "y": 580, "wires": [["c1f06ccc88eceaf4"]]}, {"id": "d9de9b519eadaf22", "type": "ui_slider", "z": "b96bfdd96eb132c6", "name": "pub: to and/aa", "label": "and/aa", "tooltip": "", "group": "6414d7f591b41d2a", "order": 0, "width": 0, "height": 0, "passthru": true, "outs": "all", "topic": "and/aa", "topicType": "str", "min": 0, "max": "360", "step": "1", "className": "", "x": 460, "y": 680, "wires": [["c1f06ccc88eceaf4"]]}, {"id": "ee6d889fdfa17ba6", "type": "function", "z": "b96bfdd96eb132c6", "name": "", "func": "\n\nlet hzz = msg.payload;\n\n\n\nfunction makeLoop(hz){\n    let oT = global.get(\"sinGen\");\n    if( oT != undefined )\n        clearTimeout(oT);\n        \n    let oTLast = global.get(\"sinGenTLast\");\n    let tFrame = 1000/hz;\n    let tiNow = new Date().getTime();\n    if( oTLast != undefined )\n        oTLast = tiNow;\n        \n    let nextInMs = parseInt(tiNow-oTLast+tFrame);\n   \n    oT = setTimeout(()=>{\n        \n        let setDiv = global.get(\"sinGenDateDiv\")||1;\n        let sOffset =  global.get(\"sinGenDateOffset\")||0;\n        let sGain =  global.get(\"sinGenDateGain\")||0.0;\n        \n        let sinN = Math.sin(new Date().getTime()/(setDiv/2))/2+0.5;\n        \n        node.send({\n            topic:\"and/sinG\",\n            payload: sGain*( sOffset + sinN ) \n        });  \n        \n        makeLoop( hz );\n    }, nextInMs);\n    node.status({text:\"next: \"+nextInMs});\n\n    global.set(\"sinGen\", oT); \n    global.set(\"sinGenTLast\", new Date().getTime());\n}\n\nmakeLoop(hzz);\n\n", "outputs": 1, "noerr": 0, "initialize": "", "finalize": "", "libs": [], "x": 660, "y": 820, "wires": [["8dde350b2c4359f5", "71f3c9365c6b6259", "f12489e9cd4e15a6", "51ba4376058dd84d", "4a9d1f4f7b7671d6", "c79e539b984cab2a"]]}, {"id": "61a449f489cb182d", "type": "ui_slider", "z": "b96bfdd96eb132c6", "name": "sine Hz", "label": "sine Hz", "tooltip": "", "group": "08a35e45846461f2", "order": 0, "width": 0, "height": 0, "passthru": true, "outs": "end", "topic": "sineHz", "topicType": "str", "min": "1", "max": "25", "step": "1", "className": "", "x": 380, "y": 820, "wires": [["ee6d889fdfa17ba6"]]}, {"id": "8dde350b2c4359f5", "type": "debug", "z": "b96bfdd96eb132c6", "name": "", "active": false, "tosidebar": true, "console": false, "tostatus": false, "complete": "true", "targetType": "full", "statusVal": "", "statusType": "auto", "x": 820, "y": 500, "wires": []}, {"id": "71f3c9365c6b6259", "type": "change", "z": "b96bfdd96eb132c6", "name": "", "rules": [{"t": "set", "p": "topic", "pt": "msg", "to": "and/yRot", "tot": "str"}], "action": "", "property": "", "from": "", "to": "", "reg": false, "x": 910, "y": 820, "wires": [["c1f06ccc88eceaf4"]]}, {"id": "f12489e9cd4e15a6", "type": "change", "z": "b96bfdd96eb132c6", "name": "", "rules": [{"t": "set", "p": "topic", "pt": "msg", "to": "and/aa", "tot": "str"}], "action": "", "property": "", "from": "", "to": "", "reg": false, "x": 830, "y": 760, "wires": [["c1f06ccc88eceaf4"]]}, {"id": "dc22813d5d1b16f6", "type": "ui_slider", "z": "b96bfdd96eb132c6", "name": "sine Gen", "label": "sine Gen", "tooltip": "", "group": "08a35e45846461f2", "order": 0, "width": 0, "height": 0, "passthru": true, "outs": "end", "topic": "sineHz", "topicType": "str", "min": "1", "max": "10000", "step": "1", "className": "", "x": 380, "y": 900, "wires": [["f098f142c7816fb5"]]}, {"id": "f098f142c7816fb5", "type": "function", "z": "b96bfdd96eb132c6", "name": "", "func": "global.set(\"sinGenDateDiv\",msg.payload);\n", "outputs": 1, "noerr": 0, "initialize": "", "finalize": "", "libs": [], "x": 660, "y": 900, "wires": [[]]}, {"id": "b20dbe084fadc828", "type": "function", "z": "b96bfdd96eb132c6", "name": "", "func": "let oT = global.get(\"sinGen\");\nif( oT != undefined )\n    clearTimeout(oT);", "outputs": 1, "noerr": 0, "initialize": "", "finalize": "", "libs": [], "x": 540, "y": 760, "wires": [[]]}, {"id": "e11d0ddc3098d65f", "type": "ui_button", "z": "b96bfdd96eb132c6", "name": "", "group": "08a35e45846461f2", "order": 7, "width": 0, "height": 0, "passthru": false, "label": "stop sin gen", "tooltip": "", "color": "", "bgcolor": "", "className": "", "icon": "", "payload": "", "payloadType": "str", "topic": "topic", "topicType": "msg", "x": 360, "y": 760, "wires": [["b20dbe084fadc828"]]}, {"id": "51ba4376058dd84d", "type": "ui_text", "z": "b96bfdd96eb132c6", "group": "08a35e45846461f2", "order": 8, "width": "1", "height": "1", "name": "", "label": "gen made", "format": "{{msg.payload}}", "layout": "row-spread", "className": "", "x": 880, "y": 920, "wires": []}, {"id": "b77e008c7578b607", "type": "ui_slider", "z": "b96bfdd96eb132c6", "name": "sine Gain", "label": "Gain", "tooltip": "", "group": "08a35e45846461f2", "order": 0, "width": 0, "height": 0, "passthru": true, "outs": "end", "topic": "sineHz", "topicType": "str", "min": "1", "max": "360", "step": "1", "className": "", "x": 380, "y": 980, "wires": [["e676650dd5d94e77"]]}, {"id": "af6be3f89cf6b4a3", "type": "ui_slider", "z": "b96bfdd96eb132c6", "name": "sine Offset", "label": "sine Offset", "tooltip": "", "group": "08a35e45846461f2", "order": 0, "width": 0, "height": 0, "passthru": true, "outs": "end", "topic": "sineHz", "topicType": "str", "min": "2", "max": "-2", "step": "0.1", "className": "", "x": 390, "y": 1040, "wires": [["8acfa28bf6e53bf2"]]}, {"id": "e676650dd5d94e77", "type": "function", "z": "b96bfdd96eb132c6", "name": "", "func": "global.set(\"sinGenDateGain\",msg.payload);\n", "outputs": 1, "noerr": 0, "initialize": "", "finalize": "", "libs": [], "x": 660, "y": 980, "wires": [[]]}, {"id": "8acfa28bf6e53bf2", "type": "function", "z": "b96bfdd96eb132c6", "name": "", "func": "global.set(\"sinGenDateOffset\",msg.payload);\n", "outputs": 1, "noerr": 0, "initialize": "", "finalize": "", "libs": [], "x": 660, "y": 1040, "wires": [[]]}, {"id": "4a9d1f4f7b7671d6", "type": "change", "z": "b96bfdd96eb132c6", "name": "", "rules": [{"t": "set", "p": "topic", "pt": "msg", "to": "and/mag", "tot": "str"}], "action": "", "property": "", "from": "", "to": "", "reg": false, "x": 770, "y": 700, "wires": [["4c6c3c169bd98dde"]]}, {"id": "4c6c3c169bd98dde", "type": "link out", "z": "b96bfdd96eb132c6", "name": "", "mode": "link", "links": ["cb632b9922b2a62e"], "x": 1035, "y": 700}, {"id": "c79e539b984cab2a", "type": "change", "z": "b96bfdd96eb132c6", "name": "", "rules": [{"t": "set", "p": "topic", "pt": "msg", "to": "and/orient/heel", "tot": "str"}], "action": "", "property": "", "from": "", "to": "", "reg": false, "x": 770, "y": 640, "wires": [["4c6c3c169bd98dde"]]}]}