otdm-nrf-ot-test/data/data/com.termux/files/home/.otdm/nrf-ot-test/nrf_org.json
{"id": "97d0b0a6154d781c", "label": "ot Test", "disabled": false, "info": "", "env": [], "nodes": [{"id": "b7e6f98e1b6bdaef", "type": "inject", "z": "97d0b0a6154d781c", "name": "test start", "props": [{"p": "payload"}, {"p": "topic", "vt": "str"}], "repeat": "", "crontab": "", "once": true, "onceDelay": "1", "topic": "test start", "payload": "", "payloadType": "date", "x": 260, "y": 80, "wires": [["b7502b2c9d138106"]]}, {"id": "b7502b2c9d138106", "type": "delay", "z": "97d0b0a6154d781c", "name": "", "pauseType": "delay", "timeout": "200", "timeoutUnits": "milliseconds", "rate": "1", "nbRateUnits": "1", "rateUnits": "second", "randomFirst": "1", "randomLast": "5", "randomUnits": "seconds", "drop": false, "allowrate": false, "outputs": 1, "x": 630, "y": 120, "wires": [["7016d486687abed3", "7932c02b5055b16b"]]}, {"id": "7016d486687abed3", "type": "delay", "z": "97d0b0a6154d781c", "name": "", "pauseType": "delay", "timeout": "200", "timeoutUnits": "milliseconds", "rate": "1", "nbRateUnits": "1", "rateUnits": "second", "randomFirst": "1", "randomLast": "5", "randomUnits": "seconds", "drop": false, "allowrate": false, "outputs": 1, "x": 630, "y": 200, "wires": [["9c44c7bbc115059e", "4aef8438be4871bc"]]}, {"id": "b067d8fae288a3a7", "type": "delay", "z": "97d0b0a6154d781c", "name": "", "pauseType": "delay", "timeout": "200", "timeoutUnits": "milliseconds", "rate": "1", "nbRateUnits": "1", "rateUnits": "second", "randomFirst": "1", "randomLast": "5", "randomUnits": "seconds", "drop": false, "allowrate": false, "outputs": 1, "x": 630, "y": 360, "wires": [["92223e5fa435e530", "98e166783f9d72f1"]]}, {"id": "9c44c7bbc115059e", "type": "delay", "z": "97d0b0a6154d781c", "name": "", "pauseType": "delay", "timeout": "200", "timeoutUnits": "milliseconds", "rate": "1", "nbRateUnits": "1", "rateUnits": "second", "randomFirst": "1", "randomLast": "5", "randomUnits": "seconds", "drop": false, "allowrate": false, "outputs": 1, "x": 630, "y": 280, "wires": [["b067d8fae288a3a7", "597dbf81f6297827"]]}, {"id": "92223e5fa435e530", "type": "delay", "z": "97d0b0a6154d781c", "name": "", "pauseType": "delay", "timeout": "200", "timeoutUnits": "milliseconds", "rate": "1", "nbRateUnits": "1", "rateUnits": "second", "randomFirst": "1", "randomLast": "5", "randomUnits": "seconds", "drop": false, "allowrate": false, "outputs": 1, "x": 630, "y": 440, "wires": [["7e996fb1e3ffb6a5"]]}, {"id": "7e996fb1e3ffb6a5", "type": "delay", "z": "97d0b0a6154d781c", "name": "", "pauseType": "delay", "timeout": "200", "timeoutUnits": "milliseconds", "rate": "1", "nbRateUnits": "1", "rateUnits": "second", "randomFirst": "1", "randomLast": "5", "randomUnits": "seconds", "drop": false, "allowrate": false, "outputs": 1, "x": 630, "y": 520, "wires": [["eaec0a5160e6b472"]]}, {"id": "fa3e999074732968", "type": "delay", "z": "97d0b0a6154d781c", "name": "", "pauseType": "delay", "timeout": "200", "timeoutUnits": "milliseconds", "rate": "1", "nbRateUnits": "1", "rateUnits": "second", "randomFirst": "1", "randomLast": "5", "randomUnits": "seconds", "drop": false, "allowrate": false, "outputs": 1, "x": 630, "y": 680, "wires": [[]]}, {"id": "eaec0a5160e6b472", "type": "delay", "z": "97d0b0a6154d781c", "name": "", "pauseType": "delay", "timeout": "200", "timeoutUnits": "milliseconds", "rate": "1", "nbRateUnits": "1", "rateUnits": "second", "randomFirst": "1", "randomLast": "5", "randomUnits": "seconds", "drop": false, "allowrate": false, "outputs": 1, "x": 630, "y": 600, "wires": [["fa3e999074732968"]]}, {"id": "7932c02b5055b16b", "type": "function", "z": "97d0b0a6154d781c", "name": "mqtt test", "func": "\nreturn {\n    topic: 'it/s/aTest',\n    payload: new Date().getTime()\n};", "outputs": 1, "noerr": 0, "initialize": "", "finalize": "", "libs": [], "x": 840, "y": 120, "wires": [["fd71c9a978d2915e"]]}, {"id": "fd71c9a978d2915e", "type": "mqtt out", "z": "97d0b0a6154d781c", "name": "", "topic": "", "qos": "", "retain": "", "respTopic": "", "contentType": "", "userProps": "", "correl": "", "expiry": "", "broker": "65ee150b98828cf5", "x": 970, "y": 120, "wires": []}, {"id": "53b150deb98aa0e0", "type": "mqtt in", "z": "97d0b0a6154d781c", "name": "", "topic": "it/s/aTest", "qos": "2", "datatype": "auto", "broker": "65ee150b98828cf5", "nl": false, "rap": true, "rh": 0, "inputs": 0, "x": 1100, "y": 120, "wires": [["8cab78849babc4cc"]]}, {"id": "8cab78849babc4cc", "type": "function", "z": "97d0b0a6154d781c", "name": "mosquitto broker", "func": "if( msg.topic == \"it/s/aTest\" )\n    node.status({\n        text:\"OK\",\n        fill:'green',\n        shape: 'ring'\n    });\nelse\n    node.status({text:\"??\",fill:'red',\n        shape: 'ring'});", "outputs": 0, "noerr": 0, "initialize": "", "finalize": "", "libs": [], "x": 1390, "y": 40, "wires": []}, {"id": "53584c76d82a6b93", "type": "mysql", "z": "97d0b0a6154d781c", "mydb": "cbada9e3a1ba45d8", "name": "local db", "x": 980, "y": 200, "wires": [["b292b1ec501fa6e1"]]}, {"id": "4aef8438be4871bc", "type": "function", "z": "97d0b0a6154d781c", "name": "db test", "func": "\nq = `select \n    msg\n    from topic_it_s_aTest\n    order by entryDate desc\n    limit 1`;\n        \nmsg.topic = q;\nreturn msg;\n", "outputs": 1, "noerr": 0, "initialize": "", "finalize": "", "libs": [], "x": 830, "y": 200, "wires": [["53584c76d82a6b93"]]}, {"id": "597dbf81f6297827", "type": "http request", "z": "97d0b0a6154d781c", "name": "is Node-red :P", "method": "GET", "ret": "txt", "paytoqs": "ignore", "url": "http://localhost:1880", "tls": "", "persist": false, "proxy": "", "authType": "", "senderr": false, "x": 940, "y": 280, "wires": [["d58e5096a01fb604"]]}, {"id": "bda054629e365740", "type": "debug", "z": "97d0b0a6154d781c", "name": "", "active": true, "tosidebar": true, "console": false, "tostatus": false, "complete": "true", "targetType": "full", "statusVal": "", "statusType": "auto", "x": 1610, "y": 460, "wires": []}, {"id": "d58e5096a01fb604", "type": "function", "z": "97d0b0a6154d781c", "name": "Node-RED pressens", "func": "if( msg.payload.indexOf(\"Node-RED\") != -1 ){\n    node.status({ text: 'OK',\n        fill:'green',\n        shape: 'ring'});\n} else {\n    node.status({ text: 'not there',\n        fill:'red',\n        shape: 'ring'});\n}", "outputs": 0, "noerr": 0, "initialize": "", "finalize": "", "libs": [], "x": 1400, "y": 280, "wires": []}, {"id": "7d40df0eb15e9fd8", "type": "function", "z": "97d0b0a6154d781c", "name": "Grafana pressens", "func": "if( msg.payload.indexOf(\"Grafana\") != -1 ){\n    node.status({ text: 'OK',fill:'green',\n        shape: 'ring' });\n} else {\n    node.status({ text: 'not there',fill:'red',\n        shape: 'ring' });\n}", "outputs": 0, "noerr": 0, "initialize": "", "finalize": "", "libs": [], "x": 1390, "y": 360, "wires": []}, {"id": "98e166783f9d72f1", "type": "http request", "z": "97d0b0a6154d781c", "name": "is Grafana", "method": "GET", "ret": "txt", "paytoqs": "ignore", "url": "http://localhost:3000", "tls": "", "persist": false, "proxy": "", "authType": "", "senderr": false, "x": 930, "y": 360, "wires": [["7d40df0eb15e9fd8"]]}, {"id": "4f20a4b7c926df59", "type": "ui_button", "z": "97d0b0a6154d781c", "name": "", "group": "ec1172ed9313dc44", "order": 0, "width": 0, "height": 0, "passthru": false, "label": "Start Test", "tooltip": "", "color": "", "bgcolor": "", "className": "", "icon": "", "payload": "", "payloadType": "str", "topic": "topic", "topicType": "msg", "x": 260, "y": 160, "wires": [["b7502b2c9d138106"]]}, {"id": "61a94d1e69b9366d", "type": "status", "z": "97d0b0a6154d781c", "name": "", "scope": ["8cab78849babc4cc"], "x": 2020, "y": 40, "wires": [["7166f35239663663"]]}, {"id": "7166f35239663663", "type": "ui_text", "z": "97d0b0a6154d781c", "group": "5f8cfd1c002cf2bf", "order": 0, "width": 0, "height": 0, "name": "", "label": "Mosquitto broker:", "format": "{{msg.status.text}}", "layout": "row-spread", "className": "", "x": 2330, "y": 40, "wires": []}, {"id": "88c08460d636d259", "type": "status", "z": "97d0b0a6154d781c", "name": "", "scope": ["8e5f6b8e076fc334"], "x": 2020, "y": 120, "wires": [["ecd00d4d6bbc9755"]]}, {"id": "ecd00d4d6bbc9755", "type": "ui_text", "z": "97d0b0a6154d781c", "group": "5f8cfd1c002cf2bf", "order": 0, "width": 0, "height": 0, "name": "", "label": "Mqtt 2 mysql bridge:", "format": "{{msg.status.text}}", "layout": "row-spread", "className": "", "x": 2340, "y": 120, "wires": []}, {"id": "52f7bc7f330bad19", "type": "status", "z": "97d0b0a6154d781c", "name": "", "scope": ["a53b90997efb769e"], "x": 2020, "y": 200, "wires": [["a6a6da1503966bb9"]]}, {"id": "a6a6da1503966bb9", "type": "ui_text", "z": "97d0b0a6154d781c", "group": "5f8cfd1c002cf2bf", "order": 0, "width": 0, "height": 0, "name": "", "label": "DB sql respons:", "format": "{{msg.status.text}}", "layout": "row-spread", "className": "", "x": 2320, "y": 200, "wires": []}, {"id": "6dc2d368ce3610d3", "type": "status", "z": "97d0b0a6154d781c", "name": "", "scope": ["d58e5096a01fb604"], "x": 2020, "y": 280, "wires": [["a6f61b5df6d56d4d"]]}, {"id": "a6f61b5df6d56d4d", "type": "ui_text", "z": "97d0b0a6154d781c", "group": "5f8cfd1c002cf2bf", "order": 0, "width": 0, "height": 0, "name": "", "label": "Node-RED presses:", "format": "{{msg.status.text}}", "layout": "row-spread", "className": "", "x": 2340, "y": 280, "wires": []}, {"id": "c8bba80decd74247", "type": "status", "z": "97d0b0a6154d781c", "name": "", "scope": ["7d40df0eb15e9fd8"], "x": 2020, "y": 360, "wires": [["a4703792673c0dc7"]]}, {"id": "a4703792673c0dc7", "type": "ui_text", "z": "97d0b0a6154d781c", "group": "5f8cfd1c002cf2bf", "order": 0, "width": 0, "height": 0, "name": "", "label": "Grafana pressens:", "format": "{{msg.status.text}}", "layout": "row-spread", "className": "", "x": 2330, "y": 360, "wires": []}, {"id": "fb9b388418772c67", "type": "comment", "z": "97d0b0a6154d781c", "name": "http://192.168.43.1:1880/ui/#!/3", "info": "", "x": 1830, "y": 20, "wires": []}, {"id": "e62f287ae48e3198", "type": "status", "z": "97d0b0a6154d781c", "name": "", "scope": ["8cab78849babc4cc", "b292b1ec501fa6e1"], "x": 1600, "y": 100, "wires": [["6a96ed06bcbacbe6"]]}, {"id": "6a96ed06bcbacbe6", "type": "function", "z": "97d0b0a6154d781c", "name": "cMqtt2Mysql test", "func": "if( msg.status.source.name == \"mosquitto broker\" ){\n    if( msg.status.text == \"OK\" )\n        flow.set('tikTestMosqBrok', new Date().getTime() );\n}\nif( msg.status.source.name == \"db sql respons\" ){\n    let dt = new Date().getTime() - flow.get('tikTestMosqBrok')|0;\n    if( dt < 2000  && msg.status.fill == \"green\" ){\n        node.status({\n        text: \"time diff: \"+dt+\" cmqtt2mysql OK\",\n        fill:'green',\n        shape: 'ring'\n        });\n    }else{\n        node.status({\n            text: \"to long  cmqtt2mysql not There\",\n            fill:'red',\n            shape: 'ring'\n        });\n    }\n}", "outputs": 0, "noerr": 0, "initialize": "", "finalize": "", "libs": [], "x": 1390, "y": 120, "wires": []}, {"id": "6d85de1dde4e7f5c", "type": "status", "z": "97d0b0a6154d781c", "name": "", "scope": ["53584c76d82a6b93"], "x": 1160, "y": 180, "wires": [["b292b1ec501fa6e1"]]}, {"id": "b292b1ec501fa6e1", "type": "function", "z": "97d0b0a6154d781c", "name": "db sql respons", "func": "if (msg.status && msg.status.text == \"Error: ER_NO_SUCH_TABLE\"){\n    node.status({\n        text: \"db OK - empty\",\n        fill: 'yellow',\n        shape: 'ring'\n    });\n}else if( msg.payload.length == 1 ){\n    var t = parseInt( msg.payload[0].msg );\n    let td = (new Date().getTime())-t;\n    if( td < 2000 ){\n        node.status({\n            text: \"time diff: \"+( td ),\n            fill:'green',\n            shape: 'ring'\n        });\n    }else{\n        node.status({\n            text: \"time diff to long: \"+( td ),\n            fill:'yellow',\n            shape: 'ring'\n        });\n    }\n}else{\n    node.status({\n        text: \"msg.payload wrong length\",\n        fill:'red',\n        shape: 'ring'\n    });\n}", "outputs": 0, "noerr": 0, "initialize": "", "finalize": "", "libs": [], "x": 1380, "y": 200, "wires": []}]}