otdmp-nrf-http-api-plc/data/data/com.termux/files/home/.otdm/p-nrf-http-api-plc/nrf-http-api-plc01.json
{"id": "bf43b163cb91aff3", "label": "http-api-plc", "disabled": false, "info": "it's to standarize and give access to informations on PLC level\nSo\nhttp is at http://:1880/plc?...\nresponse with json ....\n\nquerys send by header q {json} if key:\necho {string} - will echo back\nlsTopics {string} - fillter?", "env": [], "nodes": [{"id": "44aa7b548a7f7eb2", "type": "http in", "z": "bf43b163cb91aff3", "name": "http://...:1880/plc", "url": "/plc", "method": "get", "upload": false, "swaggerDoc": "", "x": 360, "y": 180, "wires": [["d49b49d212cb1a02", "d01603f487d5296b"]]}, {"id": "bba21d16846ee7a3", "type": "http response", "z": "bf43b163cb91aff3", "name": "", "statusCode": "", "headers": {}, "x": 1910, "y": 240, "wires": []}, {"id": "d49b49d212cb1a02", "type": "debug", "z": "bf43b163cb91aff3", "name": "", "active": false, "tosidebar": true, "console": false, "tostatus": false, "complete": "true", "targetType": "full", "statusVal": "", "statusType": "auto", "x": 730, "y": 160, "wires": []}, {"id": "424d4505c6f2a01b", "type": "function", "z": "bf43b163cb91aff3", "name": "echo", "func": "\nlet q = msg.qj;\nlet p = {};\n\nif( q['echo'] != undefined ){\n    p[\"msg\"] = \"echoBackAPI: \"+q['echo']+\" END ECHO\"; \n    msg.payload = p;\n    node.status({text:\"OK\"});\n    return [msg,null];\n}\nnode.status({text:\"not\"});\nreturn [null,msg];", "outputs": 2, "noerr": 0, "initialize": "", "finalize": "", "libs": [], "x": 850, "y": 400, "wires": [["ae14e091ed9fd4a0", "a2bede4adbc0b6da"], ["db81f2dd504dab93"]]}, {"id": "699892fbe1aced85", "type": "http request", "z": "bf43b163cb91aff3", "name": "db api query", "method": "GET", "ret": "obj", "paytoqs": "ignore", "url": "", "tls": "", "persist": false, "proxy": "", "authType": "", "senderr": false, "x": 1210, "y": 520, "wires": [["961a2010e3b7fb70", "6245f0789a09db17"]]}, {"id": "d01603f487d5296b", "type": "function", "z": "bf43b163cb91aff3", "name": "", "func": "if( msg.req.originalUrl != \"/plc\" ||\n    msg.req.headers['q'] == undefined ){\n    msg.headers = {\n        'Content-type': String(\"text/json\"),\n        'Content-Length': 1\n    };\n    msg.payload = {\n        \"exitCode\":1,\n        \"msg\": \"wrong url ...12 no q header?\"\n    };\n    \n    node.status({text:\"Wrong\"});\n    \n    return [msg,null];\n    \n    \n}\n\n\nnode.status({text:\"OK\"});\n\n\n\n\nmsg['qj'] = JSON.parse( msg.req.headers['q'] );\nmsg['trExitCode'] = 0;\n\n\nreturn [null,msg];", "outputs": 2, "noerr": 0, "initialize": "", "finalize": "", "libs": [], "x": 720, "y": 260, "wires": [["bba21d16846ee7a3"], ["424d4505c6f2a01b", "14bd0fc9e35bc79a"]]}, {"id": "ae14e091ed9fd4a0", "type": "function", "z": "bf43b163cb91aff3", "name": "stack headers", "func": "msg.headers = {\n    'Content-type': String(\"text/json\"),\n    'Content-Length': 1\n};\n\n\nmsg.payload[\"exitCode\"]=msg['trExitCode'];\n\n\nreturn msg;", "outputs": 1, "noerr": 0, "initialize": "", "finalize": "", "libs": [], "x": 1720, "y": 340, "wires": [["bba21d16846ee7a3", "19537c9372170de1"]]}, {"id": "db81f2dd504dab93", "type": "function", "z": "bf43b163cb91aff3", "name": "lsTopics / stats / avg , sec", "func": "\nlet q = msg.qj;\nlet p = {};\n\n\nif( q['lsTopics'] != undefined ){\n    let sq=`\n        select \n            replace(substring(table_name,7),'_','/') as 'topic',\n            table_name as 'tName'\n        from information_schema.tables\n        where table_name like 'topic_%'\n        \n        order by topic\n        ;`.split(\"\\n\").join(\" \");\n    let url = 'http://192.168.43.220:1880/apidb/?sql='+sq;\n    \n    msg.url = url;\n    node.status({text:\"OK\"});\n    return [msg,null];\n    \n    \n} else if( q['avg'] != undefined ){\n    let times = parseInt( new Date().getTime()/1000 );\n    let btime = q['sec'] != undefined ? q['sec'] : 60;\n    msg.payload['tStart'] = times-btime;\n    let sq=`\nselect \n    avg(msg) as avgIs,\n    ( `+msg.payload['tStart']+` ) as \"tStart\",\n    ( `+btime+` ) as \"sec\"\nfrom `+q['avg']+` \nwhere entryDate >= `+( times - btime )+`\nlimit 1 \n        ;`.split(\"\\n\").join(\" \");\n    let url = 'http://192.168.43.220:1880/apidb/?sql='+sq;\n    \n    msg.url = url;\n    node.status({text:\"OK\"});\n    return [msg,null];\n\n} else if( q['stats'] != undefined ){\n    let sq=`\nselect \n    @vTotCou:=( select count(id) from `+q['stats']+` \n    \n        ) as 'totalCount',\n    @vTFir:=( select entryDate from `+q['stats']+` order by id desc limit 1\n        ) as 'tFirst',\n    @vTLas:=( select entryDate from `+q['stats']+` order by id limit 1\n        ) as 'tLast',\n    ( ( @vTFir - @vTLas ) / @vTotCou \n        ) as 'avgInsertEverySec',\n    ( select msg from `+q['stats']+` order by id limit 1\n        ) as 'msgLast'\n        \n        ;`.split(\"\\n\").join(\" \");\n    let url = 'http://192.168.43.220:1880/apidb/?sql='+sq;\n    \n    msg.url = url;\n    node.status({text:\"OK\"});\n    return [msg,null];\n\n}\n\nnode.status({text:\"not\"});\nreturn [null,msg];\n\n", "outputs": 2, "noerr": 0, "initialize": "", "finalize": "", "libs": [], "x": 910, "y": 520, "wires": [["699892fbe1aced85", "961a2010e3b7fb70"], ["5320dae35eb89e70"]]}, {"id": "5320dae35eb89e70", "type": "function", "z": "bf43b163cb91aff3", "name": "", "func": "msg.payload = {\n    \"msg\": \"No action or unknown q:\",\n    \"q\": msg['qj']\n};\nmsg[\"trExitCode\"] = 2;\nnode.status({text:\"OK\"});\n\nreturn msg;", "outputs": 2, "noerr": 0, "initialize": "", "finalize": "", "libs": [], "x": 880, "y": 760, "wires": [["ae14e091ed9fd4a0"], []]}, {"id": "14bd0fc9e35bc79a", "type": "debug", "z": "bf43b163cb91aff3", "name": "", "active": false, "tosidebar": true, "console": false, "tostatus": false, "complete": "true", "targetType": "full", "statusVal": "", "statusType": "auto", "x": 1090, "y": 200, "wires": []}, {"id": "a2bede4adbc0b6da", "type": "debug", "z": "bf43b163cb91aff3", "name": "", "active": false, "tosidebar": true, "console": false, "tostatus": false, "complete": "true", "targetType": "full", "statusVal": "", "statusType": "auto", "x": 1070, "y": 300, "wires": []}, {"id": "9d3cb8cf747aa446", "type": "debug", "z": "bf43b163cb91aff3", "name": "", "active": false, "tosidebar": true, "console": false, "tostatus": false, "complete": "true", "targetType": "full", "statusVal": "", "statusType": "auto", "x": 1930, "y": 520, "wires": []}, {"id": "961a2010e3b7fb70", "type": "debug", "z": "bf43b163cb91aff3", "name": "", "active": true, "tosidebar": true, "console": false, "tostatus": false, "complete": "true", "targetType": "full", "statusVal": "", "statusType": "auto", "x": 1370, "y": 800, "wires": []}, {"id": "6245f0789a09db17", "type": "function", "z": "bf43b163cb91aff3", "name": "res to topics", "func": "msg.payload={\n    'topics':msg.payload\n};\nmsg['trExitCode'] = 0;\nreturn msg;", "outputs": 1, "noerr": 0, "initialize": "", "finalize": "", "libs": [], "x": 1510, "y": 520, "wires": [["ae14e091ed9fd4a0", "9d3cb8cf747aa446"]]}, {"id": "19537c9372170de1", "type": "debug", "z": "bf43b163cb91aff3", "name": "", "active": false, "tosidebar": true, "console": false, "tostatus": false, "complete": "true", "targetType": "full", "statusVal": "", "statusType": "auto", "x": 1930, "y": 340, "wires": []}, {"id": "913f9b7433f3a4bc", "type": "comment", "z": "bf43b163cb91aff3", "name": "curl example", "info": "curl -H 'q: {\"lsTopics\": \"1\"}' http://192.168.43.220:1880/plc | jq '.topics | length'\n// to get count of topics is db .... and others?\n\ncurl -H 'q: {\"avg\": \"topic_e01Mux_C\", \"sec\":6000}' http://192.168.43.220:1880/plc | jq '.'\n// to get avg of temp from 6000 secs ...\n```json\n{\n  \"topics\": [\n    {\n      \"avgIs\": 32.79653465346537,\n      \"tStart\": 1678924037,\n      \"sec\": 6000\n    }\n  ],\n  \"exitCode\": 0\n}\n```\n\n\ncurl -H 'q: {\"lsTopics\": \"1\"}' http://192.168.43.220:1880/plc | jq '.'\n// to get json of all topics in db ...\n```json\n{\n  \"topics\": [\n    {\n      \"topic\": \"dell/bat/charging\",\n      \"tName\": \"dell_bat_charging\"\n    },\n ............\n    }\n  ],\n  \"exitCode\": 0\n}\n```\n\ncurl -H 'q: {\"stats\": \"topic_hu_gsm_internetPingTime\"}' http://192.168.43.220:1880/plc | jq '.'\n// to get json stats on one of topics ...\n```json\n{\n  \"topics\": [\n    {\n      \"totalCount\": 103960,\n      \"tFirst\": 1678894298,\n      \"tLast\": 1652447540,\n      \"avgInsertEverySec\": 254.3936\n    }\n  ],\n  \"exitCode\": 0\n}\n```\n\n\n", "x": 670, "y": 520, "wires": []}, {"id": "d91135f751a59c65", "type": "comment", "z": "bf43b163cb91aff3", "name": "curl example", "info": "curl -H 'q: {\"echo\": \"abc\"}' http://192.168.43.220:1880/plc | jq '.'\n", "x": 670, "y": 400, "wires": []}]}