otdmp-nrf-http-api-plc/data/data/com.termux/files/home/.otdm/p-nrf-http-api-plc/nrf-http-api-plc01.json
{"id": "bf43b163cb91aff3", "label": "http-api-plc", "disabled": false, "info": "it's to standarize and give access to informations on PLC level\nSo\nhttp is at http://:1880/plc?...\nresponse with json ....\n\nquerys send by header q {json} if key:\necho {string} - will echo back\nlsTopics {string} - fillter?", "env": [], "nodes": [{"id": "44aa7b548a7f7eb2", "type": "http in", "z": "bf43b163cb91aff3", "name": "http://...:1880/plc", "url": "/plc", "method": "get", "upload": false, "swaggerDoc": "", "x": 360, "y": 180, "wires": [["d49b49d212cb1a02", "d01603f487d5296b"]]}, {"id": "bba21d16846ee7a3", "type": "http response", "z": "bf43b163cb91aff3", "name": "", "statusCode": "", "headers": {}, "x": 1910, "y": 240, "wires": []}, {"id": "d49b49d212cb1a02", "type": "debug", "z": "bf43b163cb91aff3", "name": "", "active": true, "tosidebar": true, "console": false, "tostatus": false, "complete": "true", "targetType": "full", "statusVal": "", "statusType": "auto", "x": 730, "y": 160, "wires": []}, {"id": "424d4505c6f2a01b", "type": "function", "z": "bf43b163cb91aff3", "name": "echo", "func": "\nlet q = msg.qj;\nlet p = {};\n\nif( q['echo'] != undefined ){\n    p[\"msg\"] = \"echoBackAPI: \"+q['echo']+\" END ECHO\"; \n    msg.payload = p;\n    node.status({text:\"OK\"});\n    return [msg,null];\n}\nnode.status({text:\"not\"});\nreturn [null,msg];", "outputs": 2, "noerr": 0, "initialize": "", "finalize": "", "libs": [], "x": 850, "y": 400, "wires": [["ae14e091ed9fd4a0", "a2bede4adbc0b6da"], ["db81f2dd504dab93"]]}, {"id": "699892fbe1aced85", "type": "http request", "z": "bf43b163cb91aff3", "name": "db api query", "method": "GET", "ret": "obj", "paytoqs": "ignore", "url": "", "tls": "", "persist": false, "proxy": "", "authType": "", "senderr": false, "x": 1210, "y": 520, "wires": [["961a2010e3b7fb70", "6245f0789a09db17"]]}, {"id": "d01603f487d5296b", "type": "function", "z": "bf43b163cb91aff3", "name": "", "func": "if( msg.req.originalUrl != \"/plc\" ||\n    msg.req.headers['q'] == undefined ){\n    msg.headers = {\n        'Content-type': String(\"text/json\"),\n        'Content-Length': 1\n    };\n    msg.payload = {\n        \"exitCode\":1,\n        \"msg\": \"wrong url ...12 no q header?\"\n    };\n    \n    node.status({text:\"Wrong\"});\n    \n    return [msg,null];\n    \n    \n}\n\n\nnode.status({text:\"OK\"});\n\n\n\n\nmsg['qj'] = JSON.parse( msg.req.headers['q'] );\nmsg['trExitCode'] = 0;\n\nconsole.log(\"PLC ----\");\nconsole.log(msg.req);\n\n\nreturn [null,msg];", "outputs": 2, "noerr": 0, "initialize": "", "finalize": "", "libs": [], "x": 720, "y": 260, "wires": [["bba21d16846ee7a3"], ["424d4505c6f2a01b", "14bd0fc9e35bc79a"]]}, {"id": "ae14e091ed9fd4a0", "type": "function", "z": "bf43b163cb91aff3", "name": "stack headers", "func": "msg.headers = {\n    'Content-type': String(\"text/json\"),\n    'Content-Length': 1\n};\n\n\nmsg.payload[\"exitCode\"]=msg['trExitCode'];\n\n\nreturn msg;", "outputs": 1, "noerr": 0, "initialize": "", "finalize": "", "libs": [], "x": 1720, "y": 340, "wires": [["bba21d16846ee7a3", "19537c9372170de1"]]}, {"id": "db81f2dd504dab93", "type": "function", "z": "bf43b163cb91aff3", "name": "lsTopics / stats / avg , sec", "func": "\nlet q = msg.qj;\nlet p = {};\n\n\nif( q['lsTopics'] != undefined ){\n    let sq=`\n        select \n            replace(substring(table_name,7),'_','/') as 'topic',\n            table_name as 'tName'\n        from information_schema.tables\n        where table_name like 'topic_%'\n        \n        order by topic\n        ;`.split(\"\\n\").join(\" \");\n    let url = 'http://192.168.43.220:1880/apidb/?sql='+sq;\n    \n    msg.url = url;\n    node.status({text:\"OK\"});\n    return [msg,null];\n    \n    \n} else if( q['avg'] != undefined ){\n    let times = parseInt( new Date().getTime()/1000 );\n    let btime = q['sec'] != undefined ? q['sec'] : 60;\n    msg.payload['tStart'] = times-btime;\n    let sq=`\nselect \n    avg(msg) as avgIs,\n    ( `+msg.payload['tStart']+` ) as \"tStart\",\n    ( `+btime+` ) as \"sec\"\nfrom `+q['avg']+` \nwhere entryDate >= `+( times - btime )+`\nlimit 1 \n        ;`.split(\"\\n\").join(\" \");\n    let url = 'http://192.168.43.220:1880/apidb/?sql='+sq;\n    \n    msg.url = url;\n    node.status({text:\"OK\"});\n    return [msg,null];\n\n} else if( q['stats'] != undefined ){\n    let sq=`\nselect \n    @vTotCou:=( select count(id) from `+q['stats']+` \n    \n        ) as 'totalCount',\n    @vTFir:=( select entryDate from `+q['stats']+` order by id desc limit 1\n        ) as 'tFirst',\n    @vTLas:=( select entryDate from `+q['stats']+` order by id limit 1\n        ) as 'tLast',\n    ( ( @vTFir - @vTLas ) / @vTotCou \n        ) as 'avgInsertEverySec',\n    ( select msg from `+q['stats']+` order by id limit 1\n        ) as 'msgLast'\n        \n        ;`.split(\"\\n\").join(\" \");\n    let url = 'http://192.168.43.220:1880/apidb/?sql='+sq;\n    \n    msg.url = url;\n    node.status({text:\"OK\"});\n    return [msg,null];\n\n}\n\nnode.status({text:\"not\"});\nreturn [null,msg];\n\n", "outputs": 2, "noerr": 0, "initialize": "", "finalize": "", "libs": [], "x": 910, "y": 520, "wires": [["699892fbe1aced85", "961a2010e3b7fb70"], ["5320dae35eb89e70"]]}, {"id": "5320dae35eb89e70", "type": "function", "z": "bf43b163cb91aff3", "name": "", "func": "msg.payload = {\n    \"msg\": \"No action or unknown q:\",\n    \"q\": msg['qj']\n};\nmsg[\"trExitCode\"] = 2;\nnode.status({text:\"OK\"});\n\nreturn msg;", "outputs": 2, "noerr": 0, "initialize": "", "finalize": "", "libs": [], "x": 880, "y": 760, "wires": [["ae14e091ed9fd4a0"], []]}, {"id": "14bd0fc9e35bc79a", "type": "debug", "z": "bf43b163cb91aff3", "name": "", "active": false, "tosidebar": true, "console": false, "tostatus": false, "complete": "true", "targetType": "full", "statusVal": "", "statusType": "auto", "x": 1090, "y": 200, "wires": []}, {"id": "a2bede4adbc0b6da", "type": "debug", "z": "bf43b163cb91aff3", "name": "", "active": false, "tosidebar": true, "console": false, "tostatus": false, "complete": "true", "targetType": "full", "statusVal": "", "statusType": "auto", "x": 1070, "y": 300, "wires": []}, {"id": "9d3cb8cf747aa446", "type": "debug", "z": "bf43b163cb91aff3", "name": "", "active": false, "tosidebar": true, "console": false, "tostatus": false, "complete": "true", "targetType": "full", "statusVal": "", "statusType": "auto", "x": 1930, "y": 520, "wires": []}, {"id": "961a2010e3b7fb70", "type": "debug", "z": "bf43b163cb91aff3", "name": "", "active": false, "tosidebar": true, "console": false, "tostatus": false, "complete": "true", "targetType": "full", "statusVal": "", "statusType": "auto", "x": 1370, "y": 800, "wires": []}, {"id": "6245f0789a09db17", "type": "function", "z": "bf43b163cb91aff3", "name": "res to topics", "func": "msg.payload={\n    'topics':msg.payload\n};\nmsg['trExitCode'] = 0;\nreturn msg;", "outputs": 1, "noerr": 0, "initialize": "", "finalize": "", "libs": [], "x": 1510, "y": 520, "wires": [["ae14e091ed9fd4a0", "9d3cb8cf747aa446"]]}, {"id": "19537c9372170de1", "type": "debug", "z": "bf43b163cb91aff3", "name": "", "active": false, "tosidebar": true, "console": false, "tostatus": false, "complete": "true", "targetType": "full", "statusVal": "", "statusType": "auto", "x": 1930, "y": 340, "wires": []}, {"id": "913f9b7433f3a4bc", "type": "comment", "z": "bf43b163cb91aff3", "name": "curl example", "info": "curl -H 'q: {\"lsTopics\": \"1\"}' http://192.168.43.220:1880/plc | jq '.topics | length'\n// to get count of topics is db .... and others?\n\ncurl -H 'q: {\"avg\": \"topic_e01Mux_C\", \"sec\":6000}' http://192.168.43.220:1880/plc | jq '.'\n// to get avg of temp from 6000 secs ...\n```json\n{\n  \"topics\": [\n    {\n      \"avgIs\": 32.79653465346537,\n      \"tStart\": 1678924037,\n      \"sec\": 6000\n    }\n  ],\n  \"exitCode\": 0\n}\n```\n\n\ncurl -H 'q: {\"lsTopics\": \"1\"}' http://192.168.43.220:1880/plc | jq '.'\n// to get json of all topics in db ...\n```json\n{\n  \"topics\": [\n    {\n      \"topic\": \"dell/bat/charging\",\n      \"tName\": \"dell_bat_charging\"\n    },\n ............\n    }\n  ],\n  \"exitCode\": 0\n}\n```\n\ncurl -H 'q: {\"stats\": \"topic_hu_gsm_internetPingTime\"}' http://192.168.43.220:1880/plc | jq '.'\n// to get json stats on one of topics ...\n```json\n{\n  \"topics\": [\n    {\n      \"totalCount\": 103960,\n      \"tFirst\": 1678894298,\n      \"tLast\": 1652447540,\n      \"avgInsertEverySec\": 254.3936\n    }\n  ],\n  \"exitCode\": 0\n}\n```\n\n\n", "x": 670, "y": 520, "wires": []}, {"id": "d91135f751a59c65", "type": "comment", "z": "bf43b163cb91aff3", "name": "curl example", "info": "curl -H 'q: {\"echo\": \"abc\"}' http://192.168.43.220:1880/plc | jq '.'\n", "x": 670, "y": 400, "wires": []}, {"id": "6724a45fb8eebc9d", "type": "mqtt in", "z": "bf43b163cb91aff3", "name": "e01Mux/adc0", "topic": "e01Mux/adc0", "qos": "2", "datatype": "auto", "broker": "710a7f953b1c3089", "nl": false, "rap": true, "rh": 0, "inputs": 0, "x": 170, "y": 980, "wires": [["cea14134aa1c29e5"]]}, {"id": "f312d0932f6d26bd", "type": "function", "z": "bf43b163cb91aff3", "name": "cumulator", "func": "// if need to get more then one data or \n// need to create some virtuals\n\nreturn msg;", "outputs": 1, "noerr": 0, "initialize": "", "finalize": "", "libs": [], "x": 2560, "y": 1520, "wires": [["0a40ac8acdd30573"]]}, {"id": "0a40ac8acdd30573", "type": "function", "z": "bf43b163cb91aff3", "name": "preprocess", "func": "msg.payload = msg.payload * 0.02771809;\n\nreturn msg;", "outputs": 1, "noerr": 0, "initialize": "", "finalize": "", "libs": [], "x": 2770, "y": 1520, "wires": [["fcbd22c5cc5c5a56", "ce7a50884e3d15a3", "e619166ed72d1cc4", "6913998bd1817333"]]}, {"id": "fcbd22c5cc5c5a56", "type": "debug", "z": "bf43b163cb91aff3", "name": "", "active": false, "tosidebar": true, "console": false, "tostatus": false, "complete": "true", "targetType": "full", "statusVal": "", "statusType": "auto", "x": 2970, "y": 1360, "wires": []}, {"id": "ce7a50884e3d15a3", "type": "switch", "z": "bf43b163cb91aff3", "name": "min max normal", "property": "payload", "propertyType": "msg", "rules": [{"t": "lt", "v": "12.80", "vt": "str"}, {"t": "gt", "v": "13.00", "vt": "str"}, {"t": "else"}], "checkall": "true", "repair": false, "outputs": 3, "x": 3020, "y": 1520, "wires": [["3cf8c422f0562981", "f8686c6b45f07e04"], ["55c3305c27a41436", "152438ba159a534a"], ["f0be966f41a746f0", "8e1b6bd250638d30"]]}, {"id": "f0be966f41a746f0", "type": "debug", "z": "bf43b163cb91aff3", "name": "normal", "active": false, "tosidebar": true, "console": false, "tostatus": false, "complete": "true", "targetType": "full", "statusVal": "", "statusType": "auto", "x": 3250, "y": 1440, "wires": []}, {"id": "55c3305c27a41436", "type": "debug", "z": "bf43b163cb91aff3", "name": "max", "active": false, "tosidebar": true, "console": false, "tostatus": false, "complete": "true", "targetType": "full", "statusVal": "", "statusType": "auto", "x": 3250, "y": 1400, "wires": []}, {"id": "3cf8c422f0562981", "type": "debug", "z": "bf43b163cb91aff3", "name": "min", "active": false, "tosidebar": true, "console": false, "tostatus": false, "complete": "true", "targetType": "full", "statusVal": "", "statusType": "auto", "x": 3250, "y": 1360, "wires": []}, {"id": "f8686c6b45f07e04", "type": "subflow:adad860511375604", "z": "bf43b163cb91aff3", "name": "Min", "x": 3350, "y": 1500, "wires": [], "subflow": "adad860511375604"}, {"id": "152438ba159a534a", "type": "subflow:adad860511375604", "z": "bf43b163cb91aff3", "name": "Max", "env": [{"name": "time out", "value": "5", "type": "num"}], "x": 3350, "y": 1560, "wires": [], "subflow": "adad860511375604"}, {"id": "8e1b6bd250638d30", "type": "subflow:adad860511375604", "z": "bf43b163cb91aff3", "name": "Normal", "x": 3350, "y": 1620, "wires": [], "subflow": "adad860511375604"}, {"id": "e619166ed72d1cc4", "type": "subflow:c5a8456bcaf4c2aa", "z": "bf43b163cb91aff3", "name": "Hz detect of data comming", "env": [{"name": "Env01", "value": "test1Custom", "type": "str"}], "x": 3050, "y": 1660, "wires": [[]], "subflow": "c5a8456bcaf4c2aa"}, {"id": "4dafd9060b54b132", "type": "inject", "z": "bf43b163cb91aff3", "name": "", "props": [{"p": "payload"}, {"p": "topic", "vt": "str"}], "repeat": "", "crontab": "", "once": false, "onceDelay": 0.1, "topic": "", "payload": "", "payloadType": "date", "x": 2700, "y": 1600, "wires": [["e619166ed72d1cc4"]]}, {"id": "34bf8627ac8f2ef1", "type": "debug", "z": "bf43b163cb91aff3", "name": "", "active": false, "tosidebar": true, "console": false, "tostatus": false, "complete": "true", "targetType": "full", "statusVal": "", "statusType": "auto", "x": 750, "y": 980, "wires": []}, {"id": "47b0958abfb080db", "type": "status", "z": "bf43b163cb91aff3", "name": "", "scope": ["f8686c6b45f07e04", "152438ba159a534a", "8e1b6bd250638d30", "e619166ed72d1cc4"], "x": 3190, "y": 1800, "wires": [["a34c8c74cfa392c1"]]}, {"id": "a34c8c74cfa392c1", "type": "debug", "z": "bf43b163cb91aff3", "name": "", "active": false, "tosidebar": true, "console": false, "tostatus": false, "complete": "true", "targetType": "full", "statusVal": "", "statusType": "auto", "x": 3590, "y": 1800, "wires": []}, {"id": "6913998bd1817333", "type": "delay", "z": "bf43b163cb91aff3", "name": "", "pauseType": "delay", "timeout": "50", "timeoutUnits": "milliseconds", "rate": "1", "nbRateUnits": "1", "rateUnits": "second", "randomFirst": "1", "randomLast": "5", "randomUnits": "seconds", "drop": false, "allowrate": false, "outputs": 1, "x": 3010, "y": 1600, "wires": [["a34c8c74cfa392c1"]]}, {"id": "c04009eb63dd705b", "type": "function", "z": "bf43b163cb91aff3", "name": "", "func": "\nreturn msg;", "outputs": 1, "noerr": 0, "initialize": "", "finalize": "", "libs": [], "x": 3410, "y": 1900, "wires": [[]]}, {"id": "cea14134aa1c29e5", "type": "subflow:b9c7fa87e67fd049", "z": "bf43b163cb91aff3", "name": "House LiPo4", "env": [{"name": "batName", "value": "OiyshHouse", "type": "str", "ui": {"label": {"en-US": "Battery name"}, "type": "input", "opts": {"types": ["str"]}}}, {"name": "sMax", "value": "13.20", "type": "num", "ui": {"label": {"en-US": "Max volts."}, "type": "input", "opts": {"types": ["num"]}}}, {"name": "vScale", "value": "0.02771809", "type": "num", "ui": {"label": {"en-US": "Scale factor"}, "type": "input", "opts": {"types": ["num"]}}}], "x": 530, "y": 980, "wires": [["34bf8627ac8f2ef1", "4fb6a02e26bbf557"]], "subflow": "b9c7fa87e67fd049"}, {"id": "e901f6367aabac84", "type": "mqtt in", "z": "bf43b163cb91aff3", "name": "e01Mux/adc2 tesla 24 to dcdc", "topic": "e01Mux/adc2", "qos": "2", "datatype": "auto", "broker": "710a7f953b1c3089", "nl": false, "rap": true, "rh": 0, "inputs": 0, "x": 220, "y": 1060, "wires": [["6e2ece92c6295f14"]]}, {"id": "ab7b289d438847d1", "type": "debug", "z": "bf43b163cb91aff3", "name": "", "active": false, "tosidebar": true, "console": false, "tostatus": false, "complete": "true", "targetType": "full", "statusVal": "", "statusType": "auto", "x": 730, "y": 1060, "wires": []}, {"id": "6e2ece92c6295f14", "type": "subflow:b9c7fa87e67fd049", "z": "bf43b163cb91aff3", "name": "Tesla 24 -> 12v", "env": [{"name": "batName", "value": "24 dcTodc", "type": "str", "ui": {"label": {"en-US": "Battery name"}, "type": "input", "opts": {"types": ["str"]}}}, {"name": "sMin", "value": "674", "type": "num", "ui": {"label": {"en-US": "Min volts."}, "type": "input", "opts": {"types": ["num"]}}}, {"name": "sMax", "value": "678", "type": "num", "ui": {"label": {"en-US": "Max volts."}, "type": "input", "opts": {"types": ["num"]}}}, {"name": "sUnit", "value": "fantom", "type": "str", "ui": {"label": {"en-US": "Units use"}, "type": "input", "opts": {"types": ["str"]}}}], "x": 540, "y": 1060, "wires": [["ab7b289d438847d1", "4fb6a02e26bbf557"]], "subflow": "b9c7fa87e67fd049"}, {"id": "26584182eb3a7937", "type": "subflow:b9c7fa87e67fd049", "z": "bf43b163cb91aff3", "name": "Dell laptop from yss perc", "env": [{"name": "batName", "value": "lapDell", "type": "str", "ui": {"label": {"en-US": "Battery name"}, "type": "input", "opts": {"types": ["str"]}}}, {"name": "sMin", "value": "32", "type": "num", "ui": {"label": {"en-US": "Min volts."}, "type": "input", "opts": {"types": ["num"]}}}, {"name": "sMax", "value": "80", "type": "num", "ui": {"label": {"en-US": "Max volts."}, "type": "input", "opts": {"types": ["num"]}}}, {"name": "sUnit", "value": "perc", "type": "str", "ui": {"label": {"en-US": "Units use"}, "type": "input", "opts": {"types": ["str"]}}}], "x": 570, "y": 1300, "wires": [["392f345c6f22afba", "4fb6a02e26bbf557"]], "subflow": "b9c7fa87e67fd049"}, {"id": "a372ef334ababe80", "type": "mqtt in", "z": "bf43b163cb91aff3", "name": "devSen is dell bat prercents", "topic": "devSen/isDell/bat/perc", "qos": "2", "datatype": "auto", "broker": "710a7f953b1c3089", "nl": false, "rap": true, "rh": 0, "inputs": 0, "x": 220, "y": 1300, "wires": [["26584182eb3a7937", "06d6bc6be75fbbcc"]]}, {"id": "392f345c6f22afba", "type": "debug", "z": "bf43b163cb91aff3", "name": "", "active": false, "tosidebar": true, "console": false, "tostatus": false, "complete": "true", "targetType": "full", "statusVal": "", "statusType": "auto", "x": 790, "y": 1300, "wires": []}, {"id": "06d6bc6be75fbbcc", "type": "debug", "z": "bf43b163cb91aff3", "name": "", "active": false, "tosidebar": true, "console": false, "tostatus": false, "complete": "true", "targetType": "full", "statusVal": "", "statusType": "auto", "x": 510, "y": 1380, "wires": []}, {"id": "4fb6a02e26bbf557", "type": "function", "z": "bf43b163cb91aff3", "name": "repack it to influxDB", "func": "\nlet fie = {\n    measurement:msg.topic,\n    timestamp: new Date(),\n    fields: msg\n};\n\nreturn {\n    payload: [fie]\n};", "outputs": 1, "noerr": 0, "initialize": "", "finalize": "", "libs": [], "x": 1000, "y": 1060, "wires": [["ccc776f38cf6164c"]]}, {"id": "ccc776f38cf6164c", "type": "influxdb batch", "z": "bf43b163cb91aff3", "influxdb": "9c68d2f0e13763a4", "precision": "", "retentionPolicy": "", "name": "", "database": "dbPLC1", "precisionV18FluxV20": "ms", "retentionPolicyV18Flux": "", "org": "organisation", "bucket": "bucket", "x": 1200, "y": 1180, "wires": []}, {"id": "04269fb80a9b9454", "type": "comment", "z": "bf43b163cb91aff3", "name": "init db", "info": "create database dbPLC1;", "x": 510, "y": 880, "wires": []}, {"id": "332143b94b1ce073", "type": "inject", "z": "bf43b163cb91aff3", "name": "generate .svg", "props": [{"p": "payload"}, {"p": "topic", "vt": "str"}], "repeat": "", "crontab": "", "once": false, "onceDelay": 0.1, "topic": "", "payloadType": "date", "x": 190, "y": 740, "wires": [[]]}, {"id": "094f2d716eb9ed57", "type": "inject", "z": "bf43b163cb91aff3", "name": "", "props": [{"p": "payload"}, {"p": "status", "v": "normal", "vt": "str"}], "repeat": "", "crontab": "", "once": false, "onceDelay": 0.1, "topic": "", "payloadType": "date", "x": 1580, "y": 980, "wires": [["96d31eda3120f363", "461f78cea7216645"]]}, {"id": "96d31eda3120f363", "type": "subflow:ee90521412a477f0", "z": "bf43b163cb91aff3", "name": "noti to dell", "x": 1900, "y": 980, "wires": [], "subflow": "ee90521412a477f0"}, {"id": "461f78cea7216645", "type": "subflow:ee90521412a477f0", "z": "bf43b163cb91aff3", "name": "noti to hu", "env": [{"name": "hostIpPort", "value": "192.168.43.1:1880", "type": "str", "ui": {"label": {"en-US": "Ip and port of notification http api"}, "type": "input", "opts": {"types": ["str"]}}}], "x": 1900, "y": 1040, "wires": [], "subflow": "ee90521412a477f0"}, {"id": "3dd72aad82fe0b49", "type": "mqtt in", "z": "bf43b163cb91aff3", "name": "e01Mux/bat1 tesla 1", "topic": "e01Mux/bat1", "qos": "2", "datatype": "auto", "broker": "710a7f953b1c3089", "nl": false, "rap": true, "rh": 0, "inputs": 0, "x": 190, "y": 1140, "wires": [["7a40510e8038a8e4"]]}, {"id": "7a40510e8038a8e4", "type": "subflow:b9c7fa87e67fd049", "z": "bf43b163cb91aff3", "name": "Tesla bat1", "env": [{"name": "batName", "value": "TeslaBat1", "type": "str", "ui": {"label": {"en-US": "Battery name"}, "type": "input", "opts": {"types": ["str"]}}}, {"name": "sMin", "value": "673", "type": "num", "ui": {"label": {"en-US": "Min volts."}, "type": "input", "opts": {"types": ["num"]}}}, {"name": "sMax", "value": "679", "type": "num", "ui": {"label": {"en-US": "Max volts."}, "type": "input", "opts": {"types": ["num"]}}}, {"name": "sUnit", "value": "fantom", "type": "str", "ui": {"label": {"en-US": "Units use"}, "type": "input", "opts": {"types": ["str"]}}}], "x": 530, "y": 1140, "wires": [["4fb6a02e26bbf557"]], "subflow": "b9c7fa87e67fd049"}, {"id": "a04a5846c57cc3db", "type": "mqtt in", "z": "bf43b163cb91aff3", "name": "e01Mux/bat1 tesla 2", "topic": "e01Mux/bat2", "qos": "2", "datatype": "auto", "broker": "710a7f953b1c3089", "nl": false, "rap": true, "rh": 0, "inputs": 0, "x": 190, "y": 1220, "wires": [["7dc898694663351e"]]}, {"id": "7dc898694663351e", "type": "subflow:b9c7fa87e67fd049", "z": "bf43b163cb91aff3", "name": "Tesla bat2", "env": [{"name": "batName", "value": "TeslaBat2", "type": "str", "ui": {"label": {"en-US": "Battery name"}, "type": "input", "opts": {"types": ["str"]}}}, {"name": "sMin", "value": "673", "type": "num", "ui": {"label": {"en-US": "Min volts."}, "type": "input", "opts": {"types": ["num"]}}}, {"name": "sMax", "value": "679", "type": "num", "ui": {"label": {"en-US": "Max volts."}, "type": "input", "opts": {"types": ["num"]}}}, {"name": "sUnit", "value": "fantom", "type": "str", "ui": {"label": {"en-US": "Units use"}, "type": "input", "opts": {"types": ["str"]}}}], "x": 530, "y": 1220, "wires": [["4fb6a02e26bbf557"]], "subflow": "b9c7fa87e67fd049"}, {"id": "7c6b333de2d98b3c", "type": "comment", "z": "bf43b163cb91aff3", "name": "Batteries in system", "info": "", "x": 390, "y": 840, "wires": []}, {"id": "2115e856cdc83db7", "type": "comment", "z": "bf43b163cb91aff3", "name": "Notificacion reveivers in system", "info": "", "x": 1630, "y": 840, "wires": []}]}